backend:
name: git-gateway
branch: main


media_folder: "public/uploads"
public_folder: "/uploads"


collections:
- name: "projects"
label: "Projects"
folder: "content/projects"
create: true
slug: "{{slug}}"
fields:
- {label: "Title", name: "title", widget: "string"}
- {label: "Date", name: "date", widget: "datetime"}
- {label: "Summary", name: "summary", widget: "text"}
- {label: "Body", name: "body", widget: "markdown"}